<div ng-controller="T6SConfiguration.AddEditSDICtrl">
  <h2>TESTEEEEEEUH</h2>

  <div ng-include="'configuration/views/sdi/configuration/MenuService.html'"></div>

  <div class="zone_edit" ng-click="createZone($event)">
    <div ng-repeat="zone in zones" class="zone" style="width: {{ zone.width}}%; height: {{ zone.height}}%; position: absolute; top: {{ zone.positionFromTop}}%; left: {{ zone.positionFromLeft}}%;" ng-drop="true" ng-drop-success="onDropCompleteOnZone($data,zone.id)">
      {{ zone.id }}
    </div>
  </div>

  SDI id : {{ sdi.id }}
</div>
