<div ng-controller="T6SConfiguration.AddEditSDICtrl">
  <h2>TESTEEEEEEUH</h2>

  <div ng-include="'configuration/views/sdi/configuration/MenuService.html'"></div>

  <div class="zone_edit" ng-click="createZone($event)">
    <div ng-repeat="zone in zones" class="zone" style="width: {{ zone.width}}%; height: {{ zone.height}}%; position: absolute; top: {{ zone.positionFromTop}}%; left: {{ zone.positionFromLeft}}%;" ng-drop="true" ng-drop-success="onDropCompleteOnZone($data,zone)">
      {{ zone.id }}
      <div class="customization-sdi-preview-zone-service" ng-repeat="service in zone.services">
        <button popover-template="'customization/views/sdi/callTypeList.html'" popover-title="CallTypes" popover-trigger="mouseenter" popover-placement="right" class="btn btn-default">
          <img ng-src="{{service.logo}}" /> <span class="badge" >{{service.callTypes.length}}</span>
        </button>
      </div>
    </div>
  </div>

  SDI id : {{ sdi.id }}
</div>
