<h3>Add CallType</h3>

<div>
  <form>
    <div class="control-group">
      <label for="setName">Name</label>
      <div class="controls">
        <input type="text" id="setName" placeholder="Nom" ng-model="callType.name" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setName', callType.name)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setDescription">Description</label>
      <div class="controls">
        <textarea rows="3" id="setDescription" placeholder="Description" ng-model="callType.description" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setDescription', callType.description)"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label for="inputSource">Source</label>
      <div class="controls">
        <select id="inputSource" ng-model="callType.source" class="form-control" ng-change="saveAttribute('linkSource', callType.source)">
          <option ng-repeat="source in sources" value="{{ source.id }}">{{ source.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="inputZone">Zone</label>
      <div class="controls">
        <select id="inputZone" ng-model="callType.zone" class="form-control" ng-change="saveAttribute('linkZone', callType.zone)">
          <option ng-repeat="zone in zones" value="{{ zone.id }}">{{ zone.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="inputRenderer">Renderer</label>
      <div class="controls">
        <select id="inputRenderer" ng-model="callType.renderer" class="form-control" ng-change="saveAttribute('linkRenderer', callType.renderer)">
          <option ng-repeat="renderer in renderers" value="{{ renderer.id }}">{{ renderer.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="inputRenderPolicy">RenderPolicy</label>
      <div class="controls">
        <select id="inputRenderPolicy" ng-model="callType.renderPolicy" class="form-control" ng-change="saveAttribute('linkRenderPolicy', callType.renderPolicy)">
          <option ng-repeat="renderPolicy in renderPolicies" value="{{ renderPolicy.id }}">{{ renderPolicy.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="inputReceivePolicy">ReceivePolicy</label>
      <div class="controls">
        <select id="inputReceivePolicy" ng-model="callType.receivePolicy" class="form-control" ng-change="saveAttribute('linkReceivePolicy', callType.receivePolicy)">
          <option ng-repeat="receivePolicy in receivePolicies" value="{{ receivePolicy.id }}">{{ receivePolicy.name }}</option>
        </select>
      </div>
    </div>
  </form>
</div>
