.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#header {

}

#t6s-main {
  margin-top: 50px;
  padding-top: 10px;
}

.menuLangItem {
    cursor: pointer;
}

.menuLangItem img {
    display: inline;
}

.paramValueForm {

}

.paramValueForm label:first-child {
  text-align: right !important;
}

.paramValueForm label:first-child::after {
  content: ' :';
}

.paramValueForm label {
  padding-left: 0px;
  text-align: left !important;
}

.t6sInputs_errors {
  margin-top: 10px;
}

.t6sInputs_errors p {
  padding: 10px;
}

input[type="range"]:before {
  left:0em;
  content: attr(min);
}
input[type="range"]:after {
  left:0em;
  content: attr(max);
}

