<h3 translate="CMS.PHOTOBOX.LIST"></h3>

<div class="panel panel-default">
  <div class="panel-body">
    <a ng-click="scanPictures()" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> CMS.PHOTOBOX.SCAN</a>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th translate="CMS.PHOTOBOX.PHOTO">Nom</th>
    <th></th>
  </tr>

  <tr ng-repeat="picture in pictures.slice().reverse()">
    <td>{{picture._id}}</td>
    <td><img src="{{picture._small._url}}" /></td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="deletePicture(picture._id)" ng-confirm-click="{{ 'CMS.PHOTOBOX.CONFIRM_DELETE_PICTURE' | translate }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_DELETE' | translate }}</button>
    </td>
  </tr>
</table>
