<h3 translate="POLICY.POLICY_LIST"></h3>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th translate="POLICY.POLICY_NAME">Nom</th>
    <th translate="POLICY.POLICY_DESCRIPTION">Description</th>
    <th translate="POLICY.ISCOMPLETE">Complete</th>
    <th></th>
  </tr>

  <tr ng-repeat="policy in policys | orderBy:'id'">
    <td>{{ policy.id }}</td>
    <td>{{ policy.name }}</td>
    <td>{{ policy.description }}</td>
    <td>{{ policy.complete }}</td>
    <td>
      <a type="button" class="btn btn-default" ng-click="editPolicy(policy)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_EDIT' | translate }}</a>
      <button type="button" class="btn btn-danger" ng-click="deletePolicy(policy.id)" ng-confirm-click="{{ 'POLICY.CONFIRM_DELETE_POLICY' | translate }} ({{ policy.name }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_DELETE' | translate }}</button>
    </td>
  </tr>
</table>

<div style="float: right">
  <a ng-click="createPolicy()" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> POLICY.ADD_POLICY</a>
</div>
