<h3>Zones</h3>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Width / Height</th>
    <th>Top / Left</th>
    <th>Behaviour</th>
    <th>CallTypes</th>
    <th>SDI</th>
    <th>Complete</th>
    <th></th>
  </tr>

  <tr ng-repeat="zone in zones">
    <td>{{ zone.id }}</td>
    <td>{{ zone.name }}</td>
    <td>{{ zone.description }}</td>
    <td>{{ zone.width }} / {{ zone.height }}</td>
    <td>{{ zone.positionFromTop }} / {{ zone.positionFromLeft }}</td>
    <td>{{ zone.behaviour }}</td>
    <td>{{ zone.callTypes }}</td>
    <td></td>
    <td>{{ zone.complete }}</td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="deleteZone(zone.id)" ng-confirm-click="{{ 'SOURCE.CONFIRM_DELETE_SOURCE' | translate }} ({{ zone.name }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_DELETE' | translate }}</button>
    </td>
  </tr>
</table>
