<div>
  <h3>{{sdi.name }}</h3>
  <h4>{{ sdi.description }}</h4>
</div>

<div id="customization-sdi-preview">
  <div class="customization-sdi-preview-zone" ng-repeat="zone in zones" style="top: {{ zone.positionFromTop }}%; left: {{ zone.positionFromLeft }}%; width: {{ zone.width }}%; height: {{ zone.height }}%">
    <div id="customization-sdi-preview-zone-name">
      {{zone.name}}
    </div>
    <div id="customization-sdi-preview-zone-services">
      <div class="customization-sdi-preview-zone-service" ng-repeat="service in zone.services">
        <button popover-template="'customization/views/sdi/callTypeList.html'" popover-title="CallTypes" popover-trigger="mouseenter" popover-placement="right" class="btn btn-default">
          <img ng-src="{{service.logo}}" /> <span class="badge" >{{service.callTypes.length}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<h5>Profils</h5>
<table class="table table-striped table-hover">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Description</th>
    <th></th>
  </tr>

  <tr ng-repeat="profil in sdi.profils">
    <td><a ng-href="/custom/sdi/{{sdi.id}}/profil/{{profil.id}}">{{ profil.id }}</a></td>
    <td><a ng-href="/custom/sdi/{{sdi.id}}/profil/{{profil.id}}">{{ profil.name }}</a></td>
    <td><a ng-href="/custom/sdi/{{sdi.id}}/profil/{{profil.id}}">{{ profil.description }}</a></td>
    <td>
      <a ng-href="/custom/sdi/{{sdi.id}}/profil/{{ profil.id }}/edit" class="btn btn-primary"><i class="icon-pencil icon-white"></i>Edit Profil</a>
      <button type="button" class="btn btn-danger" ng-click="deleteProfil(profil.id)" ng-confirm-click="{{ 'SOURCE.CONFIRM_DELETE_SOURCE' | translate }} ({{ profil.name }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_DELETE' | translate }}</button>
    </td>
  </tr>
</table>

<div style="float: right">
  <a ng-href="/custom/sdi/{{sdi.id}}/profil/add" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> Add Profil</a>
</div>
