<div>
  <h3>Add Renderer</h3>

  <div>
    <form>
      <div class="control-group">
        <label for="setName">Name</label>
        <div class="controls">
          <input type="text" id="setName" placeholder="Nom" ng-model="renderer.name" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setName', renderer.name)" />
        </div>
      </div>
      <div class="control-group">
        <label for="setDescription">Description</label>
        <div class="controls">
          <textarea rows="3" id="setDescription" placeholder="Description" ng-model="renderer.description" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setDescription', renderer.description)"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label for="inputInfoType">Type d'info</label>
        <div class="controls">
          <select id="inputInfoType" ng-model="renderer.infoType" class="form-control" ng-change="saveAttribute('linkInfoType', renderer.infoType)">
            <option ng-repeat="type in infoTypes" value="{{ type.id }}">{{ type.name }}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
