<div class="modal-content" ng-controller="T6SAdmin.AddEditUserCtrl">
  <div class="modal-header">
    <h3 translate="USER.ADD_EDIT.TITLE"></h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tr>
        <td translate="USER.USERNAME">Nom</td>
        <td>
          <a href="#" editable-text="user.username" onaftersave="saveUserAttribute('setUsername', user.username)">{{ user.username || 'No name information' }}</a>
        </td>
      </tr>
      <tr>
        <td translate="USER.ISADMIN">Admin</td>
        <td>
          <a href="#" editable-checkbox="user.isAdmin" e-title="is admin?" onaftersave="saveUserAttribute('setIsAdmin', user.isAdmin)">
            {{ user.isAdmin && "Is admin" || "Is not admin" }}
          </a>
        </td>
      </tr>
      <tr>
        <td translate="USER.EMAIL">Email</td>
        <td>
          <a href="#" editable-email="user.email" onaftersave="saveUserAttribute('setEmail', user.email)">{{ user.email || 'No mail information' }}</a>
        </td>
      </tr>
      <tr>
        <td translate="USER.TEAM">Team</td>
        <td>
          <select class="form-control" ng-model="selectedTeam" ng-change="linkTeam()">
            <option ng-repeat="team in availableTeams | orderBy:'id'" ng-value="team.id">{{team.name}}</option>
          </select>
          <ul>
            <li ng-repeat="team in user.teams | orderBy:'id'">{{ team.name}} <button class="btn btn-danger" ng-if="teamCanBeRemoved(team.id)" ng-click="removeTeam(team.id)" translate="USER.ADD_EDIT.REMOVE">Remove</button></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="close()" translate="USER.ADD_EDIT.CLOSE" ng-class="{ 'btn-danger': !userTrigger.complete, 'btn-primary': userTrigger.complete}">Fermer</button>
  </div>
</div>
