<div class="modal-content" ng-controller="T6SAdmin.ResetPasswordUserCtrl">
  <div class="modal-header">
    <h3 translate="USER.RESETPASSWORD.TITLE"></h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tr>
        <td translate="USER.USERNAME">Nom</td>
        <td>
          {{ user.username }}
        </td>
      </tr>
      <tr>
        <td translate="USER.RESETPASSWORD.PASS">New Password</td>
        <td class="form-group" ng-class="{'has-error': !passwordOK, 'has-success': passwordOK}">
          <input type="password" ng-model="pass" class="form-control" ng-show="!displayPass" ng-change="checkPassword()" />
          <input type="text" ng-model="pass" class="form-control" ng-show="displayPass" ng-change="checkPassword()" />

          <input id="displayCheck" type="checkbox" ng-model="displayPass" />  <label for="displayCheck">{{ 'USER.RESETPASSWORD.DISPLAYPASS' | translate }}</label>
        </td>
      </tr>
      <tr>
        <td translate="USER.RESETPASSWORD.PASS2">Repeat password</td>
        <td class="form-group" ng-class="{'has-error': !passwordOK, 'has-success': passwordOK}">
          <input type="password" ng-model="pass2" class="form-control" ng-change="checkPassword()" />
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-if="passwordOK" ng-click="resetPassword()" translate="USER.RESETPASSWORD.ACTION">Reset password</button>
    <button type="button" class="btn btn-primary" ng-click="close()" translate="USER.ADD_EDIT.CLOSE">Close</button>
  </div>
</div>
