<h3>Ajouter un Profil</h3>
<div>
  <form>
    <div class="control-group">
      <label for="setName">Name</label>
      <div class="controls">
        <input type="text" id="setName" placeholder="Nom" ng-model="profil.name" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setName', profil.name)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setDescription">Description</label>
      <div class="controls">
        <textarea rows="3" id="setDescription" placeholder="Description" ng-model="profil.description" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setDescription', profil.description)"></textarea>
      </div>
    </div>
  </form>
</div>
