<div class="row">
  <div class="col-md-12">
    <h3>
      {{ profil.name }}
      <span class="label label-success" ng-show="profil.complete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
      <span class="label label-danger" ng-show="!profil.complete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
    </h3>
    <h4>{{ profil.description }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="profil-sdi-preview">
      <div class="profil-sdi-preview-zone" style="top: {{ zone.positionFromTop }}%; left: {{ zone.positionFromLeft }}%; width: {{ zone.width }}%; height: {{ zone.height }}%" ng-repeat="zone in zones">
        <div class="profil-sdi-preview-zone-name">
          {{zone.name}}
        </div>
        <div class="profil-sdi-preview-zone-timelines">
          {{selectedTimelines[zone.id].name}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="connectedClients.length > 0">
  <div class="col-md-12">
    <h3 translate="PROFIL.CLIENT.TITLE"></h3>
    <table class="table table-striped">
      <tr>
        <th translate="PROFIL.CLIENT.CONNECTED_HOUR"></th>
        <th translate="PROFIL.CLIENT.IP"></th>
        <th></th>
      </tr>
      <tr ng-repeat="client in connectedClients">
        <td>{{ client.createdAt | date:'short' }}</td>
        <td>{{ client.ip }}</td>
        <td><button class="btn btn-primary" ng-click="authorizeClient(client.id)" translate="PROFIL.CLIENT.AUTHORIZE_CLIENT"></button></td>
      </tr>
    </table>
  </div>
</div>
