<h3>Services</h3>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Host</th>
    <th>Complete</th>
    <th></th>
  </tr>

  <tr ng-repeat="service in services">
    <td>{{ service.id }}</td>
    <td>{{ service.name }}</td>
    <td>{{ service.description }}</td>
    <td>{{ service.host }}</td>
    <td>{{ service.complete }}</td>
    <td>
      <a type="button" class="btn btn-default" ng-href="/editservice/{{ service.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_EDIT' | translate }}</a>
      <button type="button" class="btn btn-danger" ng-click="deleteService(service.id)" ng-confirm-click="{{ 'SOURCE.CONFIRM_DELETE_SOURCE' | translate }} ({{ service.name }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_DELETE' | translate }}</button>
    </td>
  </tr>
</table>

<div style="float: right">
  <a ng-href="/addservice" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> Add service</a>
</div>
