<h3>Add Zone</h3>

<div>
  <form>
    <div class="control-group">
      <label for="setName">Name</label>
      <div class="controls">
        <input type="text" id="setName" placeholder="Nom" ng-model="zone.name" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setName', zone.name)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setDescription">Description</label>
      <div class="controls">
        <textarea rows="3" id="setDescription" placeholder="Description" ng-model="zone.description" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setDescription', zone.description)"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label for="setWidth">Width</label>
      <div class="controls">
        <input type="range" max="100" min="0" step="1" id="setWidth" ng-model="zone.width" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setWidth', zone.width)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setHeight">Height</label>
      <div class="controls">
        <input type="range" max="100" min="0" step="1" id="setHeight" ng-model="zone.height" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setHeight', zone.height)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setPositionFromTop">Position from top</label>
      <div class="controls">
        <input type="range" max="100" min="0" step="1" id="setPositionFromTop" ng-model="zone.positionFromTop" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setPositionFromTop', zone.positionFromTop)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setPositionFromLeft">Position from left</label>
      <div class="controls">
        <input type="range" max="100" min="0" step="1" id="setPositionFromLeft" ng-model="zone.positionFromLeft" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setPositionFromLeft', zone.positionFromLeft)" />
      </div>
    </div>
    <div class="control-group">
      <label for="inputBehaviour">Behaviour</label>
      <div class="controls">
        <select id="inputBehaviour" ng-model="zone.behaviour" class="form-control" ng-change="saveAttribute('linkBehaviour', zone.behaviour)">
          <option ng-repeat="behaviour in behaviours" value="{{ behaviour.id }}">{{ behaviour.name }}</option>
        </select>
      </div>
    </div>
    <a ng-if="zone.id" type="button" class="btn btn-primary" ng-href="/config/zone/{{ zone.id }}/calltype/add">Create callType</a>
  </form>
</div>
