.customization-call-name .clearfix {
  border-bottom: dashed 1px lightgray;
  margin-bottom: 10px;
}

.customization-call-name h2, .customization-call-name button {
  float: left;
  margin-left: 10px;
  margin-top: auto;
}

.customization-call-advancedparameters-heading {
  cursor: pointer;
}
