<div class="modal-content" ng-controller="T6SAdmin.AddEditInfoTypeCtrl">
  <div class="modal-header">
    <h3 translate="INFOTYPE.ADD_EDIT.TITLE"></h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tr>
        <td translate="INFOTYPE.INFOTYPE_NAME">Nom</td>
        <td>
          <a href="#" editable-text="infoType.name" onaftersave="saveInfoTypeAttribute('setName', infoType.name)">{{ infoType.name || 'No name information' }}</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="close()" translate="INFOTYPE.ADD_EDIT.CLOSE" ng-class="{ 'btn-danger': !infoType.complete, 'btn-primary': infoType.complete}">Fermer</button>
  </div>
</div>
