<h3>Type d'information</h3>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Complete</th>
    <th></th>
  </tr>

  <tr ng-repeat="infoType in infoTypes">
    <td>{{ infoType.id }}</td>
    <td>{{ infoType.name }}</td>
    <td>{{ infoType.complete }}</td>
    <td>
      <a type="button" class="btn btn-default" ng-href="/admin/infotype/{{ infoType.id }}/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_EDIT' | translate }}</a>
      <button type="button" class="btn btn-danger" ng-click="deleteInfoType(infoType.id)" ng-confirm-click="{{ 'SOURCE.CONFIRM_DELETE_SOURCE' | translate }} ({{ infoType.name }})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{ 'ACTIONS.ACTION_DELETE' | translate }}</button>
    </td>
  </tr>
</table>

<div style="float: right">
  <a ng-href="/admin/infotype/add" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> Add infotype</a>
</div>
