<div>
  <h3>{{ call.name }}</h3>
  <h4>Profil : {{ call.profil.name }}</h4>
  <h4>CallType : {{call.callType.name }}</h4>
</div>

<h5>List des ParamValues</h5>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Value</th>
  </tr>

  <tr ng-repeat="paramValue in listParamValues">
    <td>{{ paramValue.id }}</td>
    <td>{{ paramValue.paramType.name }}</td>
    <td>{{ paramValue.paramType.description }}</td>
    <td>{{ paramValue.value }}</td>
  </tr>
</table>
<div style="float: right">
  <a ng-href="/custom/sdi/{{sdiId}}/calltype/{{ call.callType.id }}/call/{{ call.id }}/edit" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> Edit</a>
</div>
