<div>
  <h3>{{callType.name }}</h3>
  <h4>{{ callType.description }}</h4>
</div>

<h5>List des calls</h5>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Complete</th>
    <th></th>
  </tr>

  <tr ng-repeat="call in callType.calls">
    <td><a ng-href="/custom/call/{{call.id}}">{{ call.id }}</a></td>
    <td><a ng-href="/custom/call/{{call.id}}">{{ call.name }}</a></td>
    <td><a ng-href="/custom/call/{{call.id}}">{{ call.complete }}</a></td>
    <td></td>
  </tr>
</table>

<div style="float: right">
  <a ng-href="/custom/calltype/{{ callType.id }}/call/add" class="btn btn-primary" translate><i class="icon-plus icon-white"></i> Add Call</a>
</div>
