<h3 translate="ADD_SOURCE.CREATE_SOURCE"></h3>

<div>
  <form>
    <div class="control-group">
      <label for="setName" translate="ADD_SOURCE.SOURCE_NAME"></label>
      <div class="controls">
        <input type="text" id="setName" placeholder="Nom" ng-model="source.name" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setName', source.name)" />
      </div>
    </div>
    <div class="control-group">
      <label for="setDescription" translate="ADD_SOURCE.SOURCE_DESCRIPTION"></label>
      <div class="controls">
        <textarea rows="3" id="setDescription" placeholder="Description" ng-model="source.description" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setDescription', source.description)"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label for="inputInfoType" translate="ADD_SOURCE.SOURCE_TYPE"></label>
      <div class="controls">
        <select id="inputInfoType" ng-model="source.infoTypeID" class="form-control" ng-change="saveAttribute('linkInfoType', source.infoTypeID)">
          <option ng-repeat="type in infoTypes" value="{{ type.id }}">{{ type.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="inputService" translate="ADD_SOURCE.SOURCE_SERVICE"></label>
      <div class="controls">
        <select id="inputService" ng-model="source.serviceID" class="form-control" ng-change="saveAttribute('linkService', source.serviceID)">
          <option ng-repeat="service in services" value="{{ service.id }}">{{ service.name }}</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="setMethod" translate="ADD_SOURCE.SOURCE_METHOD"></label>
      <div class="controls">
        <input type="text" id="setMethod" placeholder="Method" ng-model="source.method" ng-model-options="{ updateOn: 'blur' }" ng-change="saveAttribute('setMethod', source.method)" />
      </div>
    </div>
    <div class="control-group">
      <label for="addParamType" translate="ADD_SOURCE.SOURCE_PARAM_TYPE"></label>
      <div class="controls">
        <select id="addParamType" ng-model="source.paramTypeID" class="form-control" ng-change="saveAttribute('addParamType', source.paramTypeID)">
          <option ng-repeat="type in paramTypes" value="{{ type.id }}">{{ type.name }}</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div>
  {{ source }}
</div>
